body {
    background-color: blanchedalmond;
}
.head {
    font-size: 80px;
    text-align: center;
    margin-bottom: 30px;
    font-family: cursive;
    font-weight: 100;
    color: rgb(163, 6, 6);
}
.foot {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
}
.create {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.create label {
    text-align: center;
    display: block;
    font-size: 30px;
    color: rgb(163, 6, 6);
    font-family: cursive;
}
.create h3 {
    color:rgb(232, 86, 7);
    font-family: cursive;
    font-size: 30px;
    margin: 30px 30px;
}
.create input, .create textarea, .create select, .create option{
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}
.create button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
